<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">チーム登録</h2>
  </div>

  <div class="mdl-card__actions">
    <form (ngSubmit)="onSubmit()" #teamForm="ngForm">
      <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="team-name"
               [(ngModel)]="team.name" #teamName="ngModel" name="teamName" required>
        <label class="mdl-textfield__label" for="team-name">チーム名</label>
        <span class="mdl-textfield__error" [hidden]="teamName.valid || teamName.pristine">チーム名を入力してください</span>
      </div>

      <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="team-password"
               [(ngModel)]="password" #teamPassword="ngModel" name="teamPassword" required minlength="8">
        <label class="mdl-textfield__label" for="team-password">チームパスワード(8文字以上)</label>
        <span class="mdl-textfield__error" [hidden]="teamPassword.valid || teamPassword.pristine">チームのパスワードを設定してください</span>
      </div>

      <div class="section__members">
        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="team-member-1"
                 [(ngModel)]="team.members[0].name" #teamMember="ngModel" name="teamMember" required>
          <label class="mdl-textfield__label" for="team-member-1">チームメンバー1</label>
          <span class="mdl-textfield__error" [hidden]="teamMember.valid || teamMember.pristine">メンバーのアカウントIDを入力してください</span>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="team-member-2"
                 [(ngModel)]="team.members[1].name" #teamMember="ngModel" [ngModelOptions]="{standalone: true}">
          <label class="mdl-textfield__label" for="team-member-2">チームメンバー2</label>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="team-member-3"
                 [(ngModel)]="team.members[2].name" #teamMember="ngModel" [ngModelOptions]="{standalone: true}">
          <label class="mdl-textfield__label" for="team-member-3">チームメンバー3</label>
        </div>
      </div>

      <button type="submit" class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
              [disabled]="!teamForm.form.valid">
        Register
      </button>
    </form>
  </div>
</section>

<dialog appDialog class="mdl-dialog" #dialog>
  <div class="mdl-dialog__content">
    <p>
      登録に失敗しました。<br>
      チーム名が登録されている、もしくはメンバーが別チームに登録されています。
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button" (click)="dialog.close()">close</button>
  </div>
</dialog>
