[Unit]
Description=r-isucon-go
After=syslog.target

[Service]
WorkingDirectory=/home/isucon/go/src/github.com/orisano/r-isucon/webapps/go
EnvironmentFile=/home/isucon/env.sh
PIDFile=/home/isucon/go/src/github.com/orisano/r-isucon/webapps/go/server.pid

User=isucon
Group=isucon
ExecStart=/home/isucon/go/src/github.com/orisano/r-isucon/webapps/go/app
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target